<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madmobiledevs.ecommerce">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrintOrderBillActivity"></activity>
        <activity android:name=".AdminShowImageActivity" />
        <activity android:name=".UserViewOrderProductsActivity" />
        <activity android:name=".DisclaimerActivity" />
        <activity android:name=".BillingDetailsActivity" />
        <activity android:name=".UserOrdersViewActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".AdminUserProductsActivity" />
        <activity android:name=".AdminNewOrdersActivity" />
        <activity android:name=".FinalCheckOutActivity" />
        <activity android:name=".ConfirmFinalOrderActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".Product_Details_Activity" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminCategoryActivity" />
        <activity android:name=".AdminAddNewProductActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_X80qaMCxt4bxlU"
            />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>